%h1 あげはま

.position
  %p マウスホバーでポジション表示

.bord
  - size = 19
  - size.times do |y|
    - position_y = if y == 0 then 'top' elsif y == (size - 1) then 'bottom' else '' end
    %div{class: "bord-y y-#{y}"}
      - size.times do |x|
        - position_x = if x == 0 then 'left' elsif x == (size - 1) then 'right' else '' end
        %div{class: "bord-xy x-#{x} y-#{y} #{position_y} #{position_x}"}
