!!!html
%html
  %head
    %title Agehama
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    .container
      .masthead
        %ul.nav.nav-pills.pull-right
          %li
            %a(href="#about" data-toggle="modal") About
        %h3.muted Agehama

      %hr

      .row
        .span12
          = yield

    #about.modal.hide.fade(tabindex="-1" rorle="dialog" aria-labelledby="aboutLabel" aria-hidden="true")
      .modal-header
        %button.close(aria-hidden="true" data-dismiss="modal" type="button")×
        %h3#aboutLabel About
      .modal-body
        %h4 Agehama にようこそ
        %p Agehama はブラウザ上でできる囲碁です。

        %h5 How To Use
        %p 現在、練習モードのみ、実装されています。また、石を取り除く機能は実装されていません。
        %ul
          %li 「黒」/「白」ボタンをクリックする事で、置く石の色を変える事ができます
          %li 「全部消す」ボタンで、今まで置いた石を全て取り除く事ができます

        %h5 構成
        %ul
          %li Ruby 2 + Rails 4
          %li CoffeeScript + Bacbone.js

        %h5 github:
        = link_to 'https://github.com/tanaka51-jp/agehama', 'https://github.com/tanaka51-jp/agehama'
